<footer class="global-footer">
  <nav class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-3" aria-labelledby="header-1754450143">
        <h3 id="header-1754450143">Genveje</h3>
        <ul class="link-list">
          <li>
            <a href="https://www.kb.dk/services/print-og-kopi" target="_blank" class="md-primoExplore-theme">Print og kopiering</a>
          </li>
          <li>
            <a href="https://soeg.kb.dk/discovery/jsearch?vid=45KBDK_KGL:KGL&amp;lang=da" target="_blank" class="md-primoExplore-theme">Find tidsskrifter</a>
          </li>
          <li>
            <a href="https://soeg.kb.dk/discovery/dbsearch?vid=45KBDK_KGL:KGL&amp;lang=da" target="_blank" class="md-primoExplore-theme">Find databaser</a>
          </li>
          <li>
            <a href="https://www.kb.dk/laanereglement" target="_blank" class="md-primoExplore-theme">Låneregler</a>
          </li>
          <li>
            <a href="https://www.kb.dk/aabningstider" target="_blank" class="md-primoExplore-theme">Åbningstider</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3" aria-labelledby="header-767637005">
        <h3 id="header-767637005">Brug os</h3>
        <ul>
          <li><a href="https://forbiblioteker.kb.dk/">For biblioteker</a></li>
          <li><a href="https://pro.kb.dk/">For professionelle</a></li>
          <li><a href="https://pro.kb.dk/moeder">Møder og konferencer</a></li>
          <li><a href="https://dab.dk/">Det Administrative Bibliotek</a></li>
          <li><a href="https://www.kb.dk/om-os/pligtaflevering">Pligtaflevering</a></li>
          <li><a href="http://www5.kb.dk/da/dia/undervisning/index.html">For skoler</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3" aria-labelledby="header-1328329208">
        <h3 id="header-1328329208">Information</h3>
        <ul>
          <li><a href="https://www.kb.dk/om-os/job-og-karriere/ledige-stillinger">Ledige stillinger</a></li>
          <li><a href="https://www.kb.dk/reglementer">Reglementer</a></li>
          <li><a href="https://www.kb.dk/ophavsret">Ophavsret</a></li>
          <li><a href="https://www.kb.dk/privatlivs-og-persondatapolitik">Privatlivs- og persondatapolitik</a></li>
          <li><a href="/was">Tilgængelighedserklæring</a></li>
          <li><a href="https://www.kb.dk/driftstatus">Driftstatus</a></li>
          <!--<li><a href="javascript:void();" id="csconsentlink">Cookieindstillinger</a></li>-->
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-logo"></div>
        <div><p><a href="/spoerg-biblioteket">Spørg biblioteket</a></p></div>
        <div aria-label="e-mail">
          <p><a href="mailto:kb@kb.dk">kb@kb.dk</a></p>
        </div>
        <div aria-label="telefonnummer">
          <p>Tel: <a href="tel:004533474747">(+45) 3347 4747</a></p>
        </div>
        <div><p><a href="/om-os/presse">Pressekontakt</a></p></div>
        <div aria-label="EAN nummer">
          <p>EAN: 5798000795297</p>
        </div>
        <div class="some-icons">
          <a href="https://www.kb.dk/om-os/foelg-os">
            <i class="icon icon-facebook icon-medium">
            </i>
          </a>
          <a href="https://www.kb.dk/om-os/foelg-os" class="md-primoExplore-theme">
            <i class="icon icon-twitter icon-medium">
            </i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</footer>
