.global-header {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: relative;

  .logo-col {
    padding-left: 24px;
  }

  .header-bg-wrapper {
    padding-top: 24px;
  }

  @include media-breakpoint-up(lg) {
    .container{
      display: flex !important;
      flex-direction: column;
    }
  }

  @include media-breakpoint-up(xxl) {
    .container {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Subsite header
.subsite .global-header .header-bg-wrapper.theme-bg {
  padding-top: 8px;
  background: linear-gradient(180deg, #CAF0FE 36px, #002E70 36px, #002E70 107px, #CAF0FE 107px);
}

.subsite .global-header .logo {
  height: 22px;
  width: 96px;
}

@media (min-width: 990px) {
  .subsite .global-header .logo {
    background-image: url("../../assets/images/logo-digital.svg");
  }
}

.subsite .global-header .subsite-logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: table;
  margin-top: 4px;
  margin-bottom: 10px;
}

@media (min-width: 990px) {
  .subsite .global-header .header-bg-wrapper.theme-bg {
    background: linear-gradient(180deg, #CAF0FE 36px, #002E70 36px);
  }
  .subsite .global-header .subsite-logo {
    margin-bottom: 0;
  }
  .subsite .global-header .subpage-header-elements.theme-bg {
    background-color: #002E70;
  }
}

@media (min-width: 1150px) {
  .subsite .global-header .subsite-logo {
    margin-top: 24px;
  }
}
