.logo {
  display: inline-block;
  width: 138px;
  height: 32px;
  background-image: url('../../assets/images/logo-digital.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  @include media-breakpoint-up(lg) {
    width: 174px;
    height: 69px;
    //background-image: url('../../assets/images/logo.svg');
  }
  @include media-breakpoint-up(xl) {
    width: 226px;
    height: 89px;
  }

  &-inverted {
    //background-image: url('../../assets/images/logo-digital-white.svg');
    @include media-breakpoint-up(lg) {
      //background-image: url('../../assets/images/logo-white.svg')
    }
  }

  &-monochrome {
    //background-image: url('../../assets/images/logo-digital-black.svg');
    @include media-breakpoint-up(lg) {
      //background-image: url('../../assets/images/logo-black.svg')
    }
  }

  &-digital {
    background-image: url('../../assets/images/logo-digital.svg');

    &.logo-inverted {
      //background-image: url('../../assets/images/logo-digital-white.svg');
    }

    &.logo-monochrome {
      //background-image: url('../../assets/images/logo-digital-black.svg');
    }

    @include media-breakpoint-up(lg) {
      height: 52px;
    }
  }
}
