//Variables
$primary: #002E70;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #002E70;
$secondary: #96E2FD;
$warning: #FFA83E;
$danger: #FF2947;
$success: #26D466;
$light: #F2F4F8;
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 640px;
$breakpoint-search: 800px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1150px;
$breakpoint-xxl: 1280px;
$breakpoint-xxxl: 2400px;
$font-family-sans-serif: "noway", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
