<div class="container py-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="laanstatus-tab" data-toggle="tab" href="#loans" role="tab"
               aria-controls="lånestatus" aria-selected="true" (click)=activateTab($event)>Lånes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="depots-tab" data-toggle="tab" href="#depots" role="tab" aria-controls="depots"
               aria-selected="false" (click)=activateTab($event)>Depots</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="loans" role="tabpanel" aria-labelledby="loans-tab"><loans></loans></div>
        <div class="tab-pane" id="depots" role="tabpanel" aria-labelledby="depots-tab">
            <depots></depots>
        </div>
    </div>
</div>
