@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/fonts";

@media screen {
  @import "node_modules/bootstrap/scss/bootstrap";
  @import "~font-awesome/css/font-awesome.min.css";
}

@media print {
  @import "assets/scss/print";
}

body{
  font-family: "nowaymedium",sans-serif;
}

.results{
  color: $primary;
  font-size: 1rem;
}
