//#mainHeader {
//  display: flex;
//  flex-direction: column;
//  z-index: 100;
//  position: relative;
//  background: linear-gradient(180deg, #CAF0FE 36px, #002E70 36px, #002E70 107px, #CAF0FE 107px);
//
//  .theme-bg{
//    padding-top: 8px;
//  }
//
//  .logo {
//    display: inline-block;
//    width: 96px;
//    height: 22px;
//    background-image: url('../../../assets/images/logo-digital.svg');
//    background-repeat: no-repeat;
//    background-position: left center;
//    background-size: contain;
//  }
//
//  .second-header {
//    color: white;
//    text-decoration: none;
//    text-transform: uppercase;
//    display: table;
//    margin-bottom: 5px;
//    margin-top: 12px;
//
//    h1{
//      font-size: 25px;
//      font-weight: 400;
//      font-family: 'noway', sans-serif;
//    }
//  }
//
//  }

header{
  .navbar.navbar-brand{
    background-color: #002E70;
    margin-right: 0;

    .logo {
      background-image: url(../../../assets/images/logo-navigation-header.svg);
      width: 95px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }

    span{
      float: right;
      color: #eefbfa;
      font-family: 'nowaymedium', sans-serif;
      text-decoration: none;
      font-size: 18px;
      letter-spacing: -0.2px;
      line-height: 24px;
    }
  }

  a{
    cursor: pointer;
    text-decoration: none;
  }

  .navbar.navbar-expand-lg{
    background-color: #CAF0FE;
  }

}
