<header>
  <nav class="navbar navbar-brand">
    <div class="container">
      <div class="small-6 cell">
        <div class="logo">
          &nbsp;
        </div>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <span class="navbar-brand">Fjernlåns</span>

      <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
        <li>
          <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              {{ libraryName }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" (click)="logOut()">Log ud</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
