<div *ngIf="spin" class="loading-shade d-flex justify-content-center">
  <div class="spinner-container">
    <div class=""><h2>Velkommen {{ libraryName }}</h2></div>
    <div class="">Vent venligst mens vi finder jeres låne frem</div>
    <div>Det kan tage flere sekunder</div>
    <div class="spinner">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>


<div class="row no-gutter">

  <div class="col-md-3 d-none d-md-flex"></div>

  <div class="col-md-6 bg-light">
    <div class="login d-flex align-items-center py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-7 mx-auto">
            <h2>Login</h2>
            <form>

              <div class="form-input active ">
                <input [(ngModel)]="partnerCode" type="text" id="partnerCode" class="form-control" name="partnerCode"
                       spellcheck="false">
                <label for="partnerCode" class=" ">
                  Biblioteksnummer
                </label>
              </div>

              <div class="form-input active ">
                <input [(ngModel)]="password" type="password" id="password" class="form-control" name="password"
                       spellcheck="false">
                <label for="password" class=" ">
                  Adgangskode
                </label>
              </div>
              <div *ngIf="loginError" class="alert alert-danger" role="alert">
                Partner code or password is incorrect.
              </div>
              <button type="submit"
                      class="btn btn-primary btn-block text-uppercase mb-2 shadow-sm"
                      (click)="checkValidity()"
              >
                Log in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 d-none d-md-flex"></div>

</div>
