<div *ngIf="spin" class="loading-shade d-flex justify-content-center">
  <div class="spinner-container">
    <div><h2>Velkommen {{ libraryName }}</h2></div>
    <div>Vent venligst mens vi finder jeres lån og bestillinger frem</div>
    <div>Det kan tage flere sekunder</div>
    <div class="spinner">
      <div class="spinner-grow text-primary" role="status"></div>
      <div class="spinner-grow text-secondary" role="status"></div>
      <div class="spinner-grow text-light" role="status"></div>
    </div>
  </div>
</div>


<div class="row no-gutter">
  <div class="col-md-3 d-none d-md-flex"></div>
  <div class="col-md-6 bg-light">
    <div class="login d-flex align-items-center py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-7 mx-auto">
            <h2>Login</h2>

            <form (ngSubmit)="submit()"
                  [formGroup]="loginForm"
            >
              <div class="form-input active ">
                <label for="partnerCode" class=" ">
                  Biblioteksnummer
                </label>
                <input type="text"
                       id="partnerCode"
                       class="form-control"
                       formControlName="partnerCode"
                       spellcheck="false"
                       [ngClass]="{'is-invalid': errorMessage.partnerCode }"
                />
                <span class="invalid-feedback">
                  {{errorMessage.partnerCode}}
                </span>
              </div>

              <div class="form-input active ">
                <label for="password" class=" ">
                  Adgangskode
                </label>
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password"
                       spellcheck="false"
                       [ngClass]="{'is-invalid': errorMessage.password }"
                />
                <span class="invalid-feedback">
                  {{errorMessage.password}}
                </span>
              </div>

              <div *ngIf="loginError" class="alert alert-danger" role="alert">
                {{errorMessage.doesntExist}}
              </div>

              <button type="submit"
                      class="btn btn-primary btn-block text-uppercase mb-2 shadow-sm"
                      [disabled]="!loginForm.valid"
              >
                Log in
              </button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 d-none d-md-flex"></div>

</div>
