<footer class="global-footer">
  <nav class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-3" aria-labelledby="header-1754450143">
        <h3 id="header-1754450143">Genveje</h3>
        <ul>
          <li><a href="https://forbiblioteker.kb.dk/nyheder">Nyheder</a></li>
          <li><a href="https://forbiblioteker.kb.dk/services">Services</a></li>
          <li><a href="https://forbiblioteker.kb.dk/samlinger">Samlinger</a></li>
          <li><a href="https://forbiblioteker.kb.dk/sproglige-minoriteter">Sproglige minoriteter</a></li>
          <li><a href="https://forbiblioteker.kb.dk/fjernlaan">Fjernlån</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3" aria-labelledby="header-767637005">
        <h3 id="header-767637005">Brug os</h3>
        <ul>
          <li><a href="https://www.kb.dk/find-materiale/guides">Materialeguides</a></li>
          <li><a href="https://www.kb.dk/inspiration">Inspiration og temaer</a></li>
          <li><a href="https://pro.kb.dk/node/579">Licensservice</a></li>
          <li><a href="https://pro.kb.dk/">For professionelle</a></li>
          <li><a href="https://forskoler.kb.dk/">For skoler</a></li>
          <li><a href="https://www.kb.dk/om-os">Om Det Kgl. Bibliotek</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3" aria-labelledby="header-1328329208">
        <h3 id="header-1328329208">Information</h3>
        <ul>
          <li><a href="https://www.kb.dk/om-os/job-og-karriere/ledige-stillinger">Ledige stillinger</a></li>
          <li><a href="https://www.kb.dk/reglementer/reglement-folke-og-forskningsbiblioteker">Reglement</a></li>
          <li><a href="https://www.kb.dk/ophavsret">Ophavsret</a></li>
          <li><a href="https://www.kb.dk/privatlivs-og-persondatapolitik">Privatlivs- og persondatapolitik</a></li>
          <li><a href="https://www.kb.dk/was">Tilgængelighedserklæring</a></li>
          <li><a href="https://www.kb.dk/driftstatus">Driftstatus</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-logo"></div>
        <div><p><a href="https://forbiblioteker.kb.dk/kontakt-og-information/kontakt">Kontakt</a></p></div>
        <div aria-label="e-mail"><p><a href="mailto:forbiblioteker@kb.dk">forbiblioteker@kb.dk</a></p></div>
        <div><p><a href="https://www.kb.dk/om-os/presse">Pressekontakt</a></p></div>
        <div aria-label="EAN nummer"><p>EAN: 5798000795297</p></div>
        <div class="some-icons">
          <a href="https://www.kb.dk/om-os/foelg-os">
            <i class="icon icon-facebook icon-medium">
            </i>
          </a>
          <a href="https://www.kb.dk/om-os/foelg-os">
            <i class="icon icon-twitter icon-medium">
            </i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</footer>
