.container.page-container {
  background-color: #002E70;
  color: white;
  padding: 90px;
}

a {
  color: white;
}

h2 {
  margin-top: 50px;
}

.error-404-img-desktop{
  background-image: url(../../../assets/images/404.svg);
  background-repeat: no-repeat;
}
