@font-face {
  font-family: 'nowayregular';
  src: url("../fonts/Noway-Regular-webfont/noway-regular-webfont.eot");
  src: url("../fonts/Noway-Regular-webfont/noway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Noway-Regular-webfont/noway-regular-webfont.woff2") format("woff2"), url("../fonts/Noway-Regular-webfont/noway-regular-webfont.woff") format("woff"), url("../fonts/Noway-Regular-webfont/noway-regular-webfont.ttf") format("truetype"), url("../fonts/Noway-Regular-webfont/noway-regular-webfont.svg#nowayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nowaymedium';
  src: url("../fonts/Noway-Medium-webfont/noway-medium-webfont.eot");
  src: url("../fonts/Noway-Medium-webfont/noway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Noway-Medium-webfont/noway-medium-webfont.woff2") format("woff2"), url("../fonts/Noway-Medium-webfont/noway-medium-webfont.woff") format("woff"), url("../fonts/Noway-Medium-webfont/noway-medium-webfont.ttf") format("truetype"), url("../fonts/Noway-Medium-webfont/noway-medium-webfont.svg#nowaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }
