/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}


@function deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


@mixin theme($theme-map) {
  /*------------------------------------*\
        Header, hero and mobile nav background
    \*------------------------------------*/
  .header-bg-wrapper.theme-bg {
    background-color: map-get($theme-map, 'primary');
  }

  @include media-breakpoint-up(lg) {
    .subpage-header-elements.theme-bg {
      background-color: map-get($theme-map, 'primary');
    }
  }

  /*------------------------------------*\
        Blockquote left border
    \*------------------------------------*/
  blockquote {
    &:before {
      background-color: map-get($theme-map, 'primary');
    }
  }

  /*------------------------------------*\
        Focus spots w. background color
    \*------------------------------------*/
  .theme-bg {
    background-color: map-get($theme-map, 'tertiary');
  }


  /*------------------------------------*\
        Full width containers
    \*------------------------------------*/
  .container-fluid.theme-bg {
    background-color: map-get($theme-map, 'primary');
  }
  .container-fluid.theme-bg-dark {
    background-color: $primary;
  }


  /*------------------------------------*\
        Subsites
    \*------------------------------------*/
  &.subsite {
    @include media-breakpoint-up(lg) {
      .subpage-header-elements.theme-bg {
        background-color: $primary;
      }
    }
  }
}
