@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";
@import "assets/scss/fonts";

body{
  font-family: "nowaymedium",sans-serif;
}
.results{
  color: $primary;
  font-size: 1rem;
}
