<div class="container page-container">
  <div class="row">
    <div class="col">
        <div class="container-fluid theme-bg-dark trapeze-small-to-big error-404-banner">
          <div class="container">
            <div class="row">
              <div class="col error-404-img-desktop"><img src="../../../assets/images/404.svg" alt="" role="presentation"></div>
              <div class="col">
                <h1 aria-label="404">Hovsa… Vi kan desværre ikke finde den side, du søger</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
